<d-calendar-graph></d-calendar-graph>

<!-- <lib-calendar></lib-calendar> -->

Theme:
<d-calendar-graph text="DevUI is excellent" theme="halloween"></d-calendar-graph>
<d-calendar-graph text="DevUI is excellent" theme="#7F7FF0"></d-calendar-graph>
<d-calendar-graph text="DevUI is excellent" [theme]="['#d8e9f2', '#fdde8a', '#fa9e59', '#e55648', '#ae1345']"></d-calendar-graph>
<d-calendar-graph text="DevUI is excellent" [theme]="{
  source: [0, 10, 20, 30, 40],
  target: ['#d8e9f2', '#f57647', '#ee6544', '#e55648', '#db484c']
}"></d-calendar-graph>
<d-calendar-graph text="DevUI is excellent" [theme]="{
  '0': '#d8e9f2',
  '5': '#fbe793',
  '10': '#fdcf7d',
  '20': '#fdb163',
  '50': '#f88a50',
  '100': '#ee6544',
  '200': '#db484c',
  '500': '#bf2649',
  '1000': '#9e0142'
}"></d-calendar-graph>

<d-calendar-graph date="2020-11-04"></d-calendar-graph>
<d-calendar-graph [date]="['2020-10-01']"></d-calendar-graph>
<d-calendar-graph [date]="['2020-06-01', '2020-11-03']"></d-calendar-graph>

<d-calendar-graph date="2020-10-01" text="❤ DevUI" [schedule]="true"></d-calendar-graph>
<d-calendar-graph text="DevUI is excellent"></d-calendar-graph>
<d-calendar-graph text="Today is 20201103"></d-calendar-graph>

<d-calendar-graph [dataSource]="contributions"></d-calendar-graph>
<d-calendar-graph [dataSource]="contributionsColumn"></d-calendar-graph>
<router-outlet></router-outlet>
